In [1]:
import tfscreen
tfscreen.run_simulation(yaml_file="input.yaml",
                        output_prefix="test",
                        output_path="output")

loading configuration 'input.yaml':   0%|                                                                     …

generating library sequences:   0%|                                                                           …

setting up conditions:   0%|                                                                                  …

calculating phenotypes:   0%|                                                                                 …

simulating transformation:   0%|                                                                              …

initializing sample:   0%|                                                                                    …

getting initial populations:   0%|                                                                            …

growing populations:   0%|                                                                                    …

sequencing samples:   0%|                                                                                     …

Collating sequencing reads. Done.

Assembling combined dataframe.:   0%|          | 0/60 [00:00<?, ?it/s]

writing file:   0%|                                                                                           …

 Simulation 'yo2' complete.

In [2]:
import pandas as pd
combined_df = pd.read_csv("output/yo-combined_df.csv")
combined_df

,genotype,genotype_number,timepoint,sample,sample_number,time,counts,total_cfu_mL_at_time,total_counts_at_time
0,wt,0,77|kanR|0|1e-06|80,77|kanR|0|1e-06,0,80,31727,1.043752e+06,50000000
1,wt,0,77|kanR|0|1e-06|95,77|kanR|0|1e-06,0,95,22397,2.125028e+06,50000000
2,wt,0,77|kanR|0|1e-06|110,77|kanR|0|1e-06,0,110,15925,4.326733e+06,50000000
3,wt,0,77|kanR|0|1.0|80,77|kanR|0|1.0,1,80,31616,1.216708e+06,50000000
4,wt,0,77|kanR|0|1.0|95,77|kanR|0|1.0,1,95,22364,2.529502e+06,50000000
...,...,...,...,...,...,...,...,...,...
13493395,K59Y/M98Y,224889,77|pheS|1|0.1|110,77|pheS|1|0.1,18,110,87,1.018812e+06,50000000
13493396,K59Y/M98Y,224889,77|pheS|1|0.1|125,77|pheS|1|0.1,18,125,105,1.724386e+06,50000000
13493397,K59Y/M98Y,224889,77|pheS|1|1.0|95,77|pheS|1|1.0,19,95,98,4.421731e+05,50000000
13493398,K59Y/M98Y,224889,77|pheS|1|1.0|110,77|pheS|1|1.0,19,110,95,7.163822e+05,50000000
13493399,K59Y/M98Y,224889,77|pheS|1|1.0|125,77|pheS|1|1.0,19,125,86,1.162344e+06,50000000

In [3]:
sample_df = pd.read_csv("output/yo-sample_df.csv")
sample_df

          Unnamed: 0  replicate marker  select      iptg
0    77|kanR|0|1e-06         77   kanR       0  0.000001
1      77|kanR|0|1.0         77   kanR       0  1.000000
2    77|kanR|1|1e-06         77   kanR       1  0.000001
3   77|kanR|1|0.0001         77   kanR       1  0.000100
4    77|kanR|1|0.001         77   kanR       1  0.001000
5    77|kanR|1|0.003         77   kanR       1  0.003000
6     77|kanR|1|0.01         77   kanR       1  0.010000
7     77|kanR|1|0.03         77   kanR       1  0.030000
8      77|kanR|1|0.1         77   kanR       1  0.100000
9      77|kanR|1|1.0         77   kanR       1  1.000000
10   77|pheS|0|1e-06         77   pheS       0  0.000001
11     77|pheS|0|1.0         77   pheS       0  1.000000
12   77|pheS|1|1e-06         77   pheS       1  0.000001
13  77|pheS|1|0.0001         77   pheS       1  0.000100
14   77|pheS|1|0.001         77   pheS       1  0.001000
15   77|pheS|1|0.003         77   pheS       1  0.003000
16    77|pheS|1|0.01         77   pheS       1  0.010000
17    77|pheS|1|0.03         77   pheS       1  0.030000
18     77|pheS|1|0.1         77   pheS       1  0.100000
19     77|pheS|1|1.0         77   pheS       1  1.000000

In [4]:
phenotype_df = pd.read_csv("output/yo-phenotype_df.csv")
phenotype_df

,genotype,marker,select,iptg,fx_occupied,fx_folded,obs,base_growth_rate,marker_growth_rate,select_growth_rate
0,wt,kanR,0,0.000001,0.000987,1.0,0.011846,0.022804,0.024676,0.024676
1,wt,kanR,0,1.000000,0.038626,1.0,0.463514,0.024245,0.026079,0.026079
2,wt,kanR,1,0.000001,0.000987,1.0,0.011846,0.022804,0.024676,0.003373
3,wt,kanR,1,0.000100,0.000990,1.0,0.011880,0.023235,0.025106,0.003804
4,wt,kanR,1,0.001000,0.001016,1.0,0.012191,0.023487,0.025358,0.004057
...,...,...,...,...,...,...,...,...,...,...
4497795,K59Y/M98Y,pheS,1,0.003000,0.001963,1.0,0.023551,0.046312,0.044107,0.035164
4497796,K59Y/M98Y,pheS,1,0.010000,0.002582,1.0,0.030989,0.046444,0.044242,0.035232
4497797,K59Y/M98Y,pheS,1,0.030000,0.004397,1.0,0.052764,0.046564,0.044368,0.035166
4497798,K59Y/M98Y,pheS,1,0.100000,0.010766,1.0,0.129195,0.046697,0.044521,0.034641
4497799,K59Y/M98Y,pheS,1,1.000000,0.040696,1.0,0.488354,0.046950,0.044870,0.031808